    #contact_modal {
        display: none;
    }
    
    #ligthbox_modal {
        display: none;
    }
    /* profil photograph */
    
    .photograph-header {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        background-color: #FAFAFA;
        height: 300px;
        margin: 0 100px;
    }
    
    .photograph-header img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-bottom: 0;
        object-fit: cover;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 6px 11px 17px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 10px 13px -7px #000000, 6px 11px 17px 4px rgba(0, 0, 0, 0.4);
    }
    
    .photograph-header .photo {
        order: 1;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 2rem;
    }
    
    .photograph-header .info {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 2rem;
    }
    
    .photograph-header .info h2 {
        color: #D3573C;
        font-size: 52px;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    .photograph-header .info h3 {
        color: #D3573C;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }
    
    .contact_button {
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding: 11px;
        width: 170px;
        height: 70px;
        border: none;
        background-color: #901C1C;
        border-radius: 5px;
        cursor: pointer;
        order: 1;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    /* Gallery photograph */
    
    .gallerry {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 100px;
        gap: 2rem;
    }
    
    .gallerry img {
        display: flex;
        width: 350px;
        height: 300px;
        object-fit: cover;
        margin: 0 auto;
    }
    
    .gallerry .photo span {
        display: flex;
        width: 350px;
        margin: 0 auto;
        color: #D3573C;
        margin-top: 8px;
    }
    
    .gallerry .photo .info titres {
        display: flex;
        margin-left: 0;
    }
    
    .gallerry .photo .info .like {
        display: flex;
        margin-left: auto;
    }
    
    .gallerry .photo .info .like #coeur {
        padding-top: 3px;
        cursor: pointer;
        opacity: 1;
    }
    
    .gallerry .photo .info .like #nbLike {
        padding-right: 5px;
    }
    
    .gallerry video {
        display: flex;
        width: 350px;
        height: 300px;
        object-fit: cover;
        margin: 0 auto;
    }
    /* TRI des images */
    
    .tri {
        padding-left: 6.2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .tri label {
        font-weight: bold;
    }
    
    .tri select {
        padding: 1rem;
        border: none;
        border-radius: 1rem;
        background-color: #901C1C;
        color: #FAFAFA;
        font-size: 1rem;
    }
    /* modal de contact */
    
    .titre-modal {
        font-weight: bold;
        font-size: 2rem;
        color: #000000;
        margin-bottom: 4rem;
    }
    
    #contact_modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(232, 232, 237, 0.838);
    }
    
    .modal {
        border-radius: 5px;
        background-color: #DB8876;
        margin: 5% auto;
        width: 100%;
        max-width: 500px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
    }
    
    .modal header {
        justify-content: space-between;
        width: 100%;
    }
    
    .modal header img {
        cursor: pointer;
    }
    
    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    
    form label {
        color: #312E2E;
        font-size: 24px;
    }
    
    form div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: self-start;
        margin-bottom: 26px;
    }
    
    form input {
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;
    }
    
    form textarea {
        width: 100%;
        border: none;
        border-radius: 5px;
    }
    
    #modal-bouton {
        margin-left: 0;
    }
    /* ligthbox */
    
    .ligthbox-modal {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.7);
    }
    
    .content-modal {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .hide {
        display: none;
    }
    
    .show {
        display: block;
    }
    
    .content-modal img {
        width: 90vh;
        height: 85vh;
        object-fit: cover;
    }
    
    .content-modal video {
        width: 90vh;
        object-fit: cover;
    }
    
    .ligthbox-modal .close {
        color: #901C1C;
        font-size: 4em;
        position: fixed;
        right: 15%;
        cursor: pointer;
    }
    
    #modal_btn {
        margin-left: 0;
    }
    /*     
    fleches droite et gauche */
    
    .controls {
        display: flex;
        position: absolute;
        top: 45%;
        left: 25.5%;
        justify-content: space-between;
        width: 50%;
        z-index: 1000;
    }
    
    .control {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        opacity: .5;
        cursor: pointer;
        color: #901C1C;
        font-size: 3rem;
    }
    /* likes */
    
    .infos {
        position: fixed;
        bottom: 0;
        right: 2.5rem;
        background-color: #D3573C;
        font-size: 1.3rem;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        padding: 1.4rem 2.5rem 1.2rem;
        width: 350px;
        border-radius: 0.5rem 0.5rem 0 0;
        box-sizing: border-box;
    }
    
    .infos__likes {
        display: flex;
    }
    
    .infos__likes__icone {
        padding: 0 1rem;
        padding-top: 1.6rem;
    }