@import url("photographer.css");
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.photographer_section article a h2 {
    color: #be4d36;
    font-size: 36px;
    margin-bottom: 0;
}

.photographer_section article h3 {
    color: #be4d36;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

.photographer_section article tag {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.photographer_section article prix {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.photographer_section article a img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 0;
    object-fit: cover;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 6px 11px 17px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 13px -7px #000000, 6px 11px 17px 4px rgba(0, 0, 0, 0.4);
}